@import url("https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;500;600;700;800;900&display=swap");
body {
  background-color: rgba(0, 0, 0, 0);
  padding-left: 15px;
  padding-top: 15px;
}

header,
.contestant-container-row {
  display: flex; /* aligns all child elements (flex items) in a row */
  width: 33%;
}

.contestant-container-col {
  flex: 1; /* distributes space on the line equally among items */
  width: 25%;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 255);
  font-family: "Recursive", sans-serif;
}
